@model Library_Management_System.Models.Librarian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Librarian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.l_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.l_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.l_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.l_password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.l_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
